body{
  width: 80%;
  margin-right: auto;
  margin-left : auto;
}
table {
  width: 100%;
	border-collapse: collapse;
}
table th{
	padding: 6px;
	background-color: rgba(170,170,170, 0.3);
	color: #326693;
	font-weight: normal;
	text-align: center;
	vertical-align: top;
	border: 1px solid #666666;
}
table td{
	padding: 6px;
	background-color: #fff;
	border: 1px solid #666666;
}
