body{
  width: 80%;
  margin-right: auto;
  margin-left : auto;
}
table {
  width: 100%;
	border-collapse: collapse;
}
table th{
	padding: 6px;
	background-color: rgba(170,170,170, 0.3);
	color: #326693;
	font-weight: normal;
	text-align: center;
	vertical-align: top;
	border: 1px solid #666666;
}
table td{
	padding: 6px;
	background-color: #fff;
	border: 1px solid #666666;
  text-align: center;
}
.data-list-table {
  text-align: right;
}
#btn-delete {
  text-decoration: none;
  padding: 6px;
  background: rgba(170,170,170, 0.3);
  color: #326693;
  width: 120px;
  font-size: 16px;
  border: 1px solid #666666;
}
#btn-download {
  text-decoration: none;
  padding: 6px;
  background: rgb(170,170,170, 0.3);
  color: #326693;
  width: 120px;
  font-size: 16px;
  border: 1px solid #666666;
}
